[Unit]
Description=Bell before stopping
# default.target is the standard "login" target for user services
After=default.target

[Service]
Type=simple
# Ensure the script restarts if the X server isn't quite ready yet
Restart=always
RestartSec=5
ExecStart=/bin/bash /usr/local/bin/ff-bell.sh

[Install]
WantedBy=default.target

