[Unit]
Description=Firefox Managed Session for %i minutes

[Service]
Type=simple
User=root
# SITES_TO_UNLOCK is read from the service environment
ExecStart=/bin/bash -c "/usr/local/bin/ff-limiter.sh %i $SITES_TO_UNLOCK"
KillMode=process
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/<user>/.Xauthority

[Install]
WantedBy=graphical.target
