[Unit]
Description=Timegate Firefox Manager Poller
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/usr/local/bin/.env
Type=simple
ExecStart=/bin/bash /usr/local/bin/ff-poller-gate.sh
Restart=always
# Ensure it can write the config file
ReadWritePaths=/etc/time_checker /tmp /run

[Install]
WantedBy=multi-user.target


